* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: white;
}

.huddle {
    display: flex;
    width: 100%;
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: rgba(100, 198, 243, 0.315);
}

.huddle img {
    width: 140px;
    height: 30px;
    margin: 30px 60px;
}

.community {
    width: 500px;
    border: none;
}

.build {
    width: 400px;
    height: 300px;
    border: none;
    margin: 30px 60px;
    padding: 10px;
}

.build h1 {
    font-size: 35px;
}

.build p {
    margin-top: 30px;
    font-size: 15px;
}

.build button {
    width: 200px;
    color: white;
    background-color: deeppink;
    border: 1px solid deeppink;
    border-radius: 25px;
    margin-top: 40px;
    padding: 15px;
}

.try {
    width: 650px;
    border: none;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.try button {
    width: 180px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 18px;
    padding: 6px;
    margin-top: 30px;
}

.try img {
    width: 500px;
    height: 400px;
}

.grow, .flowing, .users {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(243, 240, 240);
}

.ready {
    width: 500px;
    margin: auto;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(243, 240, 240);
    padding: 15px;
}

.grow, .ready {
    margin-top: 80px;
}

.flowing, .users {
    margin-top: 50px;
}

.growTogether, .flowingConversations, .yourUsers {
    width: 700px;
    margin: auto;
    padding: 70px;
}

.growTogether p, .flowingConversations p, .yourUsers p {
    font-size: 18px;
    margin-top: 15px;
}

.image {
    width: 500px;
    margin-top: 20px;
}

.grow img, .flowing img {
    width: 300px;

}

.users img {
    width: 360px;
}

.flowing img {
    margin: 30px 40px;
}

.ready h2 {
    text-align: center;
    margin-top: 20px;

}

.ready button {
    width: 250px;
    color: white;
    background-color: deeppink;
    border: 1px solid deeppink;
    border-radius: 25px;
    margin: 30px 90px;
    padding: 15px;

}

.info {
    width: 100%;
    display: flex;
    border: 1px solid rgba(2, 2, 39, 0.979);
    background-color: rgba(2, 2, 39, 0.979);
    color: white;
    margin-top: 40px;
    padding: 50px;
}

.info1 img {
    width: 200px;
}

.location {
    width: 300px;
    margin-top: 20px;
}

.location, .phone, .email {
    display: flex;
}

.location p, .phone p, .email p {
    margin: 10px 10px;
}

.location img, .phone img, .email img {
    margin-top: 10px;
    width: 15px;
    height: 15px;
}

.info2, .info3, .info4 {
    margin-left: 30px;
    padding: 60px;
}

.info2 p, .info3 p {
    margin-top: 15px;
}

.info4 p {
    margin-top: 180px;
}

.info4 img {
    width: 25px;
    background-color: white;
    margin-top: 15px;
}
.build button, .try button, .ready button , .info4 img:hover {
    cursor: pointer;
}
.info2 p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.info4 img:hover{
    background-color: deeppink;
}

